{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "useTabs": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.tsx?",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
